# Base de datos PostgreSQL externa
DB_HOST=<URL>
DB_PORT=5432
DB_NAME=<NOMBRE_DB>
DB_USER=<USUARIO_BD>
DB_PASSWORD=<PASSWORD_BD>
DB_SSL_ENABLED=true

# Dominio
N8N_HOSTNAME=<DOMINIO>

# Timezone
TIMEZONE=Europe/Madrid
